*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --gradient-dark-red: linear-gradient(to right, #362528, #572927);
    --gradient-light-red: linear-gradient(to right, #4f1e05, #a63302);
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #100a0b, #461e1c, #100a0b);
    color: #ffffff;
    font-size: 16px;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

input {
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}

.grid-content {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 10px;
    padding: 2%;
}

.grid-content .content-box {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: var(--gradient-dark-red);
}

.grid-content 
.content-box 
.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1.5em;
    gap: 10px;
}

.grid-content .grid-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50vh 30vh 60px;
    gap: 10px;
}

.grid-content .grid-middle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.grid-content .grid-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

/* editing items */
#item-1 {
    background-image: url('./img/kyoto-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    grid-column: 1/5;
    grid-row: 1/2;
}

#item-2 {
    grid-column: 1/3;
    grid-row: 2/3;
}

#item-3 {
    background-image: url('./img/kyoto-woman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/5;
    grid-row: 2/3;
}

#item-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#item-4 {
    background: var(--gradient-light-red);
    grid-column: 1/3;
    grid-row: 3/4;
}

#item-5 {
    background: var(--gradient-dark-red);
    grid-column: 3/4;
    grid-row: 3/4;
}

#item-6 {
    background: var(--gradient-light-red);
    grid-column: 4/5;
    grid-row: 3/4;
}

#item-7 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#item-8 {
    background-image: url('./img/kyoto-street.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/4;
}

#item-8 img {
    max-height: 75%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#item-9 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#item-10 {
    background-image: url("./img/cherry-blossom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;
}

#item-11 {
    background-image: url('./img/japanese-food.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}